DATABASE_TYPE='NEON'
NEXT_PUBLIC_CLERK_SIGN_IN_URL=https://dashboard.clerk.com/apps/app_2q9kOv68wksfpzPz2D2EJK9pjRP/instances/ins_2q9kOxxemvd7lX5J3iPIgLlMHvW
NEXT_PUBLIC_CLERK_API_URL="https://api.clerk.com"
NEXT_PUBLIC_CLERK_SIGN_UP_URL=https://dashboard.clerk.com/sign-up?redirect_url=https%3A%2F%2Fdashboard.clerk.com%2F
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=https://dashboard.clerk.com/apps/app_2q9kOv68wksfpzPz2D2EJK9pjRP/instances/ins_2q9kOxxemvd7lX5J3iPIgLlMHvW
KODIK_TOKEN='925484ea8e5da2f7ff80a35c8ccec921'
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dXB3YXJkLWNvbmRvci0yNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_5q9kci4zQBAAjOXcvme52Ktv9O1JW8l886DG0CoQko
NEXT_PUBLIC_CLERK_JS_VERSION=@clerk/clerk-js
# Stack Auth
NEXT_PUBLIC_STACK_PROJECT_ID='ce676d53-ee1c-42ff-8099-fcc6f692769d'
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY='pck_cwtakvp17zhea5kjzj5s7zbsz1q5hv3qj7sabp84c4y1r'
STACK_SECRET_SERVER_KEY='ssk_w22wj2xqrr3269nm5y5mexxne88jkkkaerve4r0saz6br'

# Database owner connection string
DATABASE_URL='postgresql://neondb_owner:npg_U9Fih0zEZGrY@ep-yellow-bush-a820d6xi-pooler.eastus2.azure.neon.tech/neondb?sslmode=require'
